body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #ffe6ea;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

img {
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #ccc;
  position: absolute; /* REQUIRED */
}
